rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Function to check if a user is signed in
    function isSignedIn() {
      return request.auth != null;
    }

    // Apply the same rule to all customer collections
    match /{customerCollection}/{customerId} where customerCollection in ['one_year_customers', 'one_month_customers', 'pending_customers'] {
      allow read, write: if isSignedIn();
    }
  }
}
