
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /active_customers/{customerId} {
      allow read: if true;
      allow create, update, delete: if isOwner(customerId);
    }

    match /pending_customers/{customerId} {
      allow read: if true;
      allow create, update, delete: if isOwner(customerId);
    }
  }
}
